* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  min-height: 100vh;
  min-width: 100vw;
  text-align: center;
  font-family: 'Poppins';
  padding: 3rem;
  background: linear-gradient(to bottom, rgb(65, 177, 222), rgb(246, 131, 150), white);
}

label {
  font-size: 1.2rem;
}

input {
  background-color: rgb(170, 233, 212);
  width: 15rem;
  height: 3rem;
  border-radius: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
}

input[type='submit'] {
  background-color: aqua;
}

#output {
  background-color: rgb(31, 222, 168);
  border: 2px solid black;
  height: fit-content;
  width: 100%;
  margin: .5rem auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
 top: 10rem;
}

.record-display {  
  background-color: rgb(219, 113, 214);
  border: 2px solid black;
  padding: 2rem 1rem;
  border-radius: 1.5rem;
  width: 47.8%;
  font-size: 1.2rem;
  margin: .8rem;
}